/* private stylesheet definitions */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
/* surveyjs theme variables

--primary: #eb2b1e;
--background: #555555;
--background-dim: #4d4d4d;
--background-dim-light: #4d4d4d;
--primary-foreground: #e6e6e6;
--foreground: #ededed;
--base-unit: 8px;
*/

}

.rahmen {
    border: 1px dot-dash #fe0000;
}

/* ostrale related theme stuff */
.bs-red,
.ostrale {
    color: #dc3545;
}

.ostrale-bg {
    background-color: #dc3545;
}

#my-modal modal-dialog > modal-header {
    opacity: 0.5;
}

#my-modal modal-dialog > modal-body {
    opacity: 0.7;
}

/* startpage related stuff */


/* surveyJS related stuff */

#surveyElement > div > form > div.sd-container-modern > div.sd-title.sd-container-modern__title {
    display: none;
}

div.sd-page div.sd-body__page {

}

#sp_112 {
    width: 1110px;
}

div.sv-components-column div.sv-components-column--expandable div.sd-body div.sd-body--responsive {
    width: 1110px !important;
}

div.sd-page div.sd-body__page {
    background-color: lightgrey;
}

div.sd-question-content {

}

div.sd-imagepicker__image {
    background-size: cover;
}

div.sd-imagepicker__item.sd-imagepicker__item--allowhover {
  /*  border: 1px solid #dc3545 !important;*/
}

div.sd-imagepicker__image-container {
    background-color: lightgrey;
    border: 1px solid #dc3545;
  border-radius: 5px;
}




/* ---------------------------- background-color: --------------------------- */
/*
.sd-imagepicker__image-container {
  
}
*/
.sd-element--with-frame > .sd-element > .sd-question > .sd-row__question {
  /* background-image: none; */
  /*TODO red O to background */

}


 /* knockoutjs modifikations here */

/*
.sd-imagepicker__image {
  padding-bottom: 50px
}
.sd-imagepicker__image-container {
  border: 1px solid #dc3545;
  border-radius: 5px;
}
*/

.sd-element--with-frame > .sd-element > .sd-question > .sd-row__question {
  /* background-image: none; */
  /*TODO red O to background */

}

/*
.sd-imagepicker__item img, 
.sd-imagepicker__item .sd-imagepicker__image-container>div {
  border: 1px solid #dc3545;
  border-radius: 5px;
  object-fit: cover !important;
  opacity: .5;
}

.sd-imagepicker__item:focus-within .sd-imagepicker__image, 
.sd-imagepicker__item--allowhover .sd-imagepicker__image:hover {
  opacity: 1.0;
}
*/
