/* private stylesheet definitions */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
/* surveyjs theme variables

--primary: #eb2b1e;
--background: #555555;
--background-dim: #4d4d4d;
--background-dim-light: #4d4d4d;
--primary-foreground: #e6e6e6;
--foreground: #ededed;
--base-unit: 8px;
*/

}

.rahmen {
    border: 1px dot-dash #fe0000 !important;
}

/* ostrale related theme stuff */
.bs-red,
.ostrale {
    color: #dc3545;
}

.ostrale-bg {
    background-color: #dc3545;
}

#my-modal modal-dialog > modal-header {
    opacity: 0.5;
}

#my-modal modal-dialog > modal-body {
    opacity: 0.7;
}

/* startpage related stuff */


/* surveyJS related stuff */
#surveyElement > div > form > div.sd-container-modern > div.sd-title.sd-container-modern__title {
    display: none;
}

#sv-nav-next > div > input {
   color: #dc3545;
   border: 1px solid #dc3545;
}

 
/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* insert styles here */
}


/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  /* insert styles here */

}



/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* insert styles here */

}


/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* insert styles here */

}



/* (1920x1080) Full HD Display */
@media  screen and (min-device-width: 1080px) and (max-device-width: 1920px) {
  /* insert styles here */
    /* knockoutjs modifikations here */


 /* ---------------------------- background-color: --------------------------- */
/*
.sd-imagepicker__image-container {
  border: 1px solid #dc3545;
  border-radius: 5px;
}
*/
.sd-element--with-frame > .sd-element > .sd-question > .sd-row__question {
  /* background-image: none; */
  /*TODO red O to background */

}


 /* knockoutjs modifikations here */

/*
.sd-imagepicker__image:active {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.sd-btn sd-navigation__next-btn {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.sd-imagepicker__image:focus {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.sd-imagepicker__image:active, 
.sd-imagepicker__image:focus {
  border: 1px solid #dc3545;
  border-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  background-color: #dc3545;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.sd-imagepicker__image {
  padding-bottom: 50px
}
.sd-imagepicker__image-container {
  border: 1px solid #dc3545;
  border-radius: 5px;
}
*/

.sd-element--with-frame > .sd-element > .sd-question > .sd-row__question {
  /* background-image: none; */
  /*TODO red O to background */

}

/*
.sd-imagepicker__item img, 
.sd-imagepicker__item .sd-imagepicker__image-container>div {
  border: 1px solid #dc3545;
  border-radius: 5px;
  object-fit: cover !important;
  opacity: .5;
}

.sd-imagepicker__item:focus-within .sd-imagepicker__image, 
.sd-imagepicker__item--allowhover .sd-imagepicker__image:hover {
  opacity: 1.0;
}
*/
}